{{#unless pager}}
  <li {{bind-attr class=':previous isFirst:disabled'}}>
    <a {{bind-attr href=previousUrl}} {{action 'previous'}}>{{{paginationPrevious}}}</a>
  </li>

  {{#each page in pages}}
    {{page-item page=page selected=current seperator=seperator urlTemplate=urlTemplate pageSet='pageChanged'}}
  {{/each}}

  <li {{bind-attr class=':next isLast:disabled'}}>
    <a {{bind-attr href=nextUrl}} {{action 'next'}}>{{{paginationNext}}}</a>
  </li>
{{else}}
  {{#if pagerFirst}}
    <li {{bind-attr class=':first isFirstDisabled:disabled'}}>
      <a {{bind-attr href=firstUrl}} {{action 'first'}}>{{{pagerFirst}}}</a>
    </li>
  {{/if}}

  <li {{bind-attr class='pagerSpread:previous isFirst:disabled'}}>
    <a {{bind-attr href=previousUrl}} {{action 'previous'}}>{{{pagerPrevious}}}</a>
  </li>

  {{#if template}}
    <li class="pager-inner">{{yield}}</li>
  {{/if}}

  <li {{bind-attr class='pagerSpread:next isLast:disabled'}}>
    <a {{bind-attr href=nextUrl}} {{action 'next'}}>{{{pagerNext}}}</a>
  </li>

  {{#if pagerLast}}
    <li {{bind-attr class=':last isLastDisabled:disabled'}}>
      <a {{bind-attr href=lastUrl}} {{action 'last'}}>{{{pagerLast}}}</a>
    </li>
  {{/if}}
{{/unless}}
