<ul class="{{if this.pager 'pager' 'pagination'}} {{this.paginationSizeClass}}">
  {{#if this.pager}}
    {{#if this.pagerFirst}}
      <li class="{{if this.isFirstDisabled 'disabled'}}">
        <a href="{{this.firstUrl}}" {{action 'first'}}>
          {{! template-lint-disable no-triple-curlies}}
          {{{this.pagerFirst}}}
        </a>
      </li>
    {{/if}}

    <li class="{{if this.pagerSpread 'previous'}} {{if this.isFirstDisabled 'disabled'}}">
      <a href="{{this.previousUrl}}" {{action 'previous'}}>
        {{! template-lint-disable no-triple-curlies}}
        {{{this.pagerPrevious}}}
      </a>
    </li>

    {{#if hasBlock}}
      <li class='pager-inner'>
        {{yield}}
      </li>
    {{/if}}

    <li class="{{if this.pagerSpread 'next'}} {{if this.isLastDisabled 'disabled'}}">
      <a href="{{this.nextUrl}}" {{action 'next'}}>
        {{! template-lint-disable no-triple-curlies}}
        {{{this.pagerNext}}}
      </a>
    </li>

    {{#if this.pagerLast}}
      <li class="last {{if this.isLastDisabled 'disabled'}}">
        <a href="{{this.lastUrl}}" {{action 'last'}}>
          {{! template-lint-disable no-triple-curlies}}
          {{{this.pagerLast}}}
        </a>
      </li>
    {{/if}}
  {{else}}
    <li class="previous {{if this.isFirstDisabled 'disabled'}}">
      <a href="{{this.previousUrl}}" {{action 'previous'}}>
        {{! template-lint-disable no-triple-curlies}}
        {{{this.paginationPrevious}}}
      </a>
    </li>

    {{#each this.pages key='@index' as |page|}}
      {{page-item
        disabled=this.disabled
        page=page
        selected=this.current
        seperator=this.seperator
        urlTemplate=this.urlTemplate
        firstPage=this.firstPage
        firstPageUrlTemplate=this.firstPageUrlTemplate
        pageSet=(action 'pageChanged')
      }}
    {{/each}}

    <li class="next {{if this.isLastDisabled 'disabled'}}">
      <a href="{{this.nextUrl}}" {{action 'next'}}>
        {{! template-lint-disable no-triple-curlies}}
        {{{this.paginationNext}}}
      </a>
    </li>
  {{/if}}
</ul>