{{#unless pager}}
  <li class="previous {{if isFirstDisabled 'disabled'}}">
    <a href="{{previousUrl}}" {{action 'previous'}}>{{paginationPrevious}}</a>
  </li>

  {{#each pages key="@index" as |page|}}
    {{page-item disabled=disabled page=page selected=this.current seperator=seperator urlTemplate=urlTemplate pageSet='pageChanged'}}
  {{/each}}

  <li class="next {{if isLastDisabled 'disabled'}}">
    <a href="{{nextUrl}}" {{action 'next'}}>{{paginationNext}}</a>
  </li>
{{else}}
  <li class="{{if pagerSpread 'previous'}} {{if isFirstDisabled 'disabled'}}">
    <a href="{{previousUrl}}" {{action 'previous'}}>{{pagerPrevious}}</a>
  </li>

  <li class="{{if pagerSpread 'next'}} {{if isLastDisabled 'disabled'}}">
    <a href="{{nextUrl}}" {{action 'next'}}>{{pagerNext}}</a>
  </li>
{{/unless}}
