<h2 id='title'>pagination-pager</h2>

{{outlet}}

{{pagination-pager count=5 current=2 pager=true pagerNext='New' pagerPrevious='Old'}}<br>
{{pagination-pager count=5 current=1 pager=true pagerSpread=true}}<br>
{{pagination-pager count=5 current=2}}<br>
{{pagination-pager count=5 current=1}}<br>
{{pagination-pager count=50 current=1 change='pageChanged' urlTemplate='localhost:4200/pagination-pager/?page={current}'}}<br>
{{pagination-pager count=5 current=5 size='lg'}}<br>
{{pagination-pager count=5 current=5 size='lg' paginationNext='next' paginationPrevious='previous'}}<br>
{{pagination-pager count=1 current=1}}<br>
{{pagination-pager count=1 current=1 hide=true}}
{{pagination-pager count=1 current=1 pager=true hide=true}}
{{pagination-pager count=5 current=2 pager=true disabled=true}}<br>
